.route-info-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 600px) minmax(250px, 600px);
  gap: 60px;
  justify-content: center;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr;
  }

  .trail-title {
    word-break: break-word;
  }

  .route-city-year {
    display: flex;
    column-gap: 10px;

    .trial-city {
      max-width: 160px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .map-wrapper {
    border-radius: var(--tui-radius-l);
    overflow: hidden;
    box-shadow: var(--tui-shadow-small);
    background-color: var(--tui-background-neutral-2);
  }

  .route-description {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    word-break: break-word;

    span {
      color: var(--tui-text-secondary);
    }
  }
}
