@let routeItem = routeItem$ | async;
<app-data-loader [isError]="isError" [isLoading]="!isError && routeItem === null">
  @if (routeItem) {
  <div class="route-info-wrapper">
    <div class="map-wrapper">
      <app-ymap [mapSize]="600" [GPX]="routeItem.gpx"></app-ymap>
    </div>

    <div>
      <h2 tuiTitle="l">
        {{ routeItem.title }}
        <div tuiSubtitle class="route-city-year">
          <span>{{ routeItem.city }}</span> | <span>{{ routeItem.year }}</span>
        </div>
      </h2>

      <p class="tui-text_body-l-2 route-description">
        <span class="tui-text_body-s-2">Описание</span>
        {{ routeItem.description }}
      </p>

      <div orientation="vertical" tuiGroup class="group">
        <span tuiBlock>Дата создания: {{ routeItem.createdAt | tuiFormatDate | async }}</span>
        <span tuiBlock>Дата последнего обновления: {{ routeItem.updatedAt | tuiFormatDate | async }}</span>
      </div>

      <hr class="tui-space_vertical-8" />

      <button appearance="primary" tuiButton size="l" [loading]="isDownloading()" (click)="downloadGPX()" type="button">
        Скачать маршрут (GPX формат)
      </button>
    </div>
  </div>
  }
</app-data-loader>
