.routes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;


  .route-item {
    display: block;
    width: 400px;
    border-radius: 30px;
    background-color: var(--tui-background-base);
    box-shadow: var(--tui-shadow-small);
  }
}