<app-data-loader [isError]="isError" [isLoading]="!isError && routes() === null">
    @if (routes()) {
        @if (routes().length) {
            <ul class="routes-list">
                @for (route of routes(); track route.id) {
                    <li>
                        <a [routerLink]="['routes', route.id]" class="route-item">
                            <app-ymap [mapSize]="400" [GPX]="route.gpx"></app-ymap>
                            <div>
                                <p>{{ route.city }}</p>
                                <p>{{ route.year }}</p>
                            </div>

                            <h4 class="tui-text_h4">{{ route.title }}</h4>
                            <p>{{ route.description }}</p>
                        </a>
                    </li>
                }
            </ul>
        } @else {
            <tui-block-status class="">
                <img
                        alt="not found"
                        ngSrc="/empty-list.png"
                        width="500"
                        height="500"
                        tuiSlot="top"
                />

                <h4>Маршруты еще не созданы</h4>

                Мы добавим маршруты как можно скорее!
            </tui-block-status>
        }
    }
</app-data-loader>