.auth-form-wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 600px);
  row-gap: 30px;
  justify-content: center;

  .form-other-auth {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .ways-to-auth {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
    }
  }
}