.route-info-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 600px) auto;
  gap: 60px;
  justify-content: center;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr;
  }

  .route-city-year {
    display: flex;
    column-gap: 10px;
  }

  .map-wrapper {
    border-radius: var(--tui-radius-l);
    overflow: hidden;
    box-shadow: var(--tui-shadow-small);
    background-color: var(--tui-background-neutral-2);
  }

  .route-description {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    span {
      color: var(--tui-text-secondary);
    }
  }
}