:host {
  display: block;
}

.create-route {
  display: grid;
  grid-template-columns: minmax(auto, 550px);
  row-gap: 40px;
  justify-content: center;

  footer {
    display: flex;
    justify-content: space-between;
  }

  .header-subtitle {
    word-break: break-word;
  }
}

.load-map {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.text-field {
  width: 100%;
}