/* You can add global styles to this file, and also import other style files */
@import '@taiga-ui/styles/taiga-ui-global';
@import '@taiga-ui/core/styles/taiga-ui-local.less';

button:hover {
  background-color: transparent;
  box-shadow: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-grid {
  display: grid;
  grid-template-columns: minmax(250px, 1640px);
  margin: 0 20px;
  justify-content: center;
}

.no-select {
  user-select: none;
}

.form {
  min-width: 20rem;
  max-width: 35rem;
}

.h-full {
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

w-full {
  width: 100%;
}

.negative-text {
  color: var(--tui-text-negative);
}
